.jumbotron {
    border-style: solid;
    border-width: thin;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-color: #1f77b4;
    padding: 0px;
    margin: 0px;
    margin-bottom:25px;
    background-color: white;
    background-image: url("../image/bacteria_image.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #ffffff;

}


.bar-container {
    margin-left: 20px;
    
}
.bubble-container,.gauge-container, .bar-container {
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #D6DAD7;
    background-color: white;
}

.well {
    border-style: solid;
    border-width: 2px;
    border-color: #1f77b4;
    border-radius: 6px;
}

.panel {
    border-radius: 6px;
}
.gauge-container {
    margin-left: 30px;
   
}

.bubble-container {
    margin-top: 10px;
    margin-bottom: 20px;
 
}


body {
    background-color:#EBECEB;
}
/*
.gauge-container { 
    text-align: center;
} */ 